<a href="https://colab.research.google.com/github/hiswordsini/AI_Bootcamp_Project/blob/main/Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [10]:
df = pd.read_csv('/content/gdrive/MyDrive/vgames2.csv')
df
#숫자 데이터 단위 통일
#지역별 가장 많이 팔린 게임 시각화
#지역별 가장 많이 팔린 게임 TOP20 게임 장르 비교 --> 1번의 문제에 답
#연도별 가장 많이 팔린 게임 분석 ---> Trend가 있는지 파악(K-means clustering?)
#국내 출시를 목표로 가장 즐겨할만한 게임의 장르와 플랫폼을 생각한다.
#-->Other_Sales에서 가장 판매량이 높은 장르와 플랫폼을 시각화 한다.
#-->트렌드에 기반하여 다음 분기에 설계할 게임의 장르와 플랫폼을 제안한다.

       Unnamed: 0  ... Other_Sales
0               1  ...           0
1               2  ...        0.01
2               3  ...           0
3               4  ...           0
4               5  ...        0.04
...           ...  ...         ...
16593       16594  ...        0.01
16594       16595  ...           0
16595       16596  ...        0.13
16596       16597  ...        0.03
16597       16598  ...        0.01

[16598 rows x 10 columns]

In [11]:
df.dtypes

Unnamed: 0      int64
Name           object
Platform       object
Year           object
Genre          object
Publisher      object
NA_Sales       object
EU_Sales       object
JP_Sales       object
Other_Sales    object
dtype: object

In [15]:
def value_to_float(x):
  if type(x) == float or type(x) == int:
    return x
  elif 'K' in x:
    return float(x.replace('K', ''))*1/1000
  elif 'M' in x:
    return float(x.replace('M', ''))
  else:
    return float(x)

df['NA_Sales'] = df['NA_Sales'].apply(value_to_float)
df['EU_Sales'] = df['EU_Sales'].apply(value_to_float)
df['JP_Sales'] = df['JP_Sales'].apply(value_to_float)
df['Other_Sales'] = df['Other_Sales'].apply(value_to_float)

df.dtypes

Unnamed: 0       int64
Name            object
Platform        object
Year            object
Genre           object
Publisher       object
NA_Sales       float64
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
dtype: object

In [18]:
NA_max = df.iloc[df['NA_Sales'].argmax()]
print("NA_max_game :", NA_max)
EU_max = df.iloc[df['EU_Sales'].argmax()]
print("EU_max_game :", EU_max)
JP_max = df.iloc[df['JP_Sales'].argmax()]
print("JP_max_game :", JP_max)
Other_max = df.iloc[df['Other_Sales'].argmax()]
print("Other_max_game :", Other_max)

NA_max_game : Unnamed: 0           2909
Name           Wii Sports
Platform              Wii
Year                 2006
Genre              Sports
Publisher        Nintendo
NA_Sales            41.49
EU_Sales            29.02
JP_Sales             3.77
Other_Sales          8.46
Name: 2908, dtype: object
EU_max_game : Unnamed: 0           2909
Name           Wii Sports
Platform              Wii
Year                 2006
Genre              Sports
Publisher        Nintendo
NA_Sales            41.49
EU_Sales            29.02
JP_Sales             3.77
Other_Sales          8.46
Name: 2908, dtype: object
JP_max_game : Unnamed: 0                         7830
Name           Pokemon Red/Pokemon Blue
Platform                             GB
Year                               1996
Genre                      Role-Playing
Publisher                      Nintendo
NA_Sales                          11.27
EU_Sales                           8.89
JP_Sales                          10.22
Other_Sales                           1
Name: 7829, dtype: object
Other_max_game : Unnamed: 0                             14670
Name           Grand Theft Auto: San Andreas
Platform                                 PS2
Year                                    2004
Genre                                 Action
Publisher               Take-Two Interactive
NA_Sales                                9.43
EU_Sales                                 0.4
JP_Sales                                0.41
Other_Sales                            10.57
Name: 14669, dtype: object

In [28]:
df[df['Genre'].isnull()]

       Unnamed: 0  ... Other_Sales
50             51  ...        0.05
408           409  ...        0.02
1328         1329  ...        0.02
1582         1583  ...        0.57
1971         1972  ...        0.79
2043         2044  ...        0.03
2497         2498  ...        0.00
3353         3354  ...        0.03
3363         3364  ...        0.00
3470         3471  ...        0.00
3515         3516  ...        0.00
3932         3933  ...        0.18
4148         4149  ...        0.08
4349         4350  ...        0.01
4545         4546  ...        0.04
4598         4599  ...        0.68
4935         4936  ...        0.00
5668         5669  ...        0.12
5713         5714  ...        0.00
5945         5946  ...        0.00
6798         6799  ...        0.00
7143         7144  ...        0.00
7336         7337  ...        0.07
7526         7527  ...        0.00
7797         7798  ...        0.00
9488         9489  ...        1.74
10432       10433  ...        0.01
10874       10875  ...        0.02
11050       11051  ...        0.03
11063       11064  ...        0.08
11496       11497  ...        0.03
11668       11669  ...        0.01
12870       12871  ...        0.00
12982       12983  ...        0.01
13348       13349  ...        0.00
14930       14931  ...        0.22
15077       15078  ...        0.00
15211       15212  ...        0.03
15426       15427  ...        0.02
16431       16432  ...        0.01

[40 rows x 10 columns]

In [25]:
print(df[df.isnull().any(axis=1)].head())

      Unnamed: 0  ... Other_Sales
50            51  ...        0.05
272          273  ...        0.00
408          409  ...        0.02
1313        1314  ...        0.00
1328        1329  ...        0.02

[5 rows x 10 columns]